#container {
    width: 500px;
    background-color: black;
    margin: 0 auto;
}
#container > div {
    width: 75%;
}
div {
    background-color: magenta;
}
div.second {
    height: 24px;
    background-color: rgb(125,223,223);
    transition: all 0.3s linear;
}
div.second:hover {
    height: 300px;
}